*{
    margin: 0;
    padding: 0;
}
.fakeimg {
    height: 200px;
    display: flex;
    justify-content: center;
}
.fakeimg-img{
    height: 200px;
    border-radius: 10px;
    box-shadow: 2px 2px 2px #ccc;
    padding: 5px;
    position: relative;
    left: -50px;
}
.fakeimg-backgroud{
    opacity: 0.8;
    cursor: pointer;
    position: relative;
    right: 180px;
}
.fakeimg-backgroud{
    height: 200px;
    border-radius: 5px;
    box-shadow: 2px 2px 2px #999;
}
.pt-10{
    padding-top: 10px;
}



}